<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.avarage_score %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
