
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-laptop"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Part-Time (DFS) Daily Fantasy Sports Analyst </h4>
                    <p>Fanalyst Co brings together all the best daily fantasy sports players. If you have ever played daily fantasy sports before, you know that it takes a ton of research, following players, dedication, intuition, and strategy to do well to win money and make a decent return.

                    <p>As people trust investors with their hard earned cash to invest in the stock market, we have created a platform that allows you to win big money in the sports market by using our lineups created each and every day by our fanalysts. Our fanalysts have years of experience playing fantasy sports. They have a proven history of beating the market day after day, as they have a passion and insight for sports that only few people in this world come to score. </p>

                    <p>Hours: 5-10 hours a week</p>

                     <p> Potential to earn $20,000 - $60,000 annual commission, bonus based on performance. Weekly Payments every Friday</p>


                  <p>  Job Requirements:

                  <ul>
                  <li>  -Create lineups for fantasy sports exchanges such as Fanduel, DraftKings, Victiv, etc </li>
                  <li>  -Upload statistical, factual, and research content and or methods used to construct lineups </li>
                  <li>  -Establish a following of paid clients: The more clients you bring in, the more money you make  </li>
                  <li>  -Promote and engage your Fanalyst Profile on social media enlighten all of your friends with your new found  <li>fantasy sports skills on FB, Instagram and other social media to make even more money.  </li>

                    Qualifications per Sports League:

                    NBA:
                    You must provide evidence of averaging 280+ points

                    NHL:
                    Averaging 190+
                    </p>
                    <a href="" class="btn">Link</a>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
              
                <div class="info">
                    <h4 class="text-center">Become a fanalyst</h4>
                    <p>Sign up and start uploading teams to prove your skills. The better you do, the more money you earn through our performance based revenue share program. </p>
                    <%= link_to 'Sign up',new_user_registration_path , class: "btn btn-success" %>
                </div>
            </div>
        </div>
  </div>
</div>
