

<div class="container">
<div class="jumbotron">



<h1> Live Fantasy Help</h1>
<h2>Text +1 770-282-9016 </h2>
</br>


</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60459974-1', 'auto');
  ga('send', 'pageview');

</script>

  
    
     <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="box">
                
                <div class="info">

                    
                    <p>Have a question about your lineup? Don't know who to start, shoot us a text. We can help.

                    

                    <p><%= link_to 'Text Us to Sign Up', new_user_registration_path, class: "btn btn-success", style: "margin-top:25px;" %></p>

                    
                   
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <div class="box">
              


      <div class="row">
        <div class="col-md-12">
           <div class="box-icon">
                    <span class="fa fa-4x fa-comment"></span>
                </div>

         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="box2">

              
                <div class="info">
                    <h4 class="text-center">Lineup Help</h4>
                    <h5 class="text-center">Davis or Cousins tonight? We do the research so you don't have to. </h5>
                    
                </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
             
            <div class="box2">

              
                <div class="info">
                    <h4 class="text-center">Strategy</h4>
                    
                    <h5 class="text-center"> A lot goes into a winning lineup. Ask us how you can develop a winning strategy. </h5>
                   
                </div>
            </div>
          </div>
          

          <div class="row">
          <div class="col-md-12">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="box2">
              
                <div class="info">
                    <h4 class="text-center">Injury Updates</h4>
                   
                    <h5 class="text-center"> We scour the internet to give you the most up to do date injury reports you request </h5>
                
                    
                </div>
            </div>
          </div>

         
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="box2">
              
              
                <div class="info">
                    <h4 class="text-center">Projections</h4>
                  
                    <h5 class="text-center"> Ask us about a player and we will give you our projections using our algorithm.  

                                      </h5>
                                   
                    
                </div>
            </div>
          </div>

          

       </div>
        </div>
        </div>
 <div class="row">
          <div class="col-md-12">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="box2">
              
                <div class="info">
                    <h4 class="text-center">Late Night Scratches</h4>
                   
                    <h5 class="text-center"> Sick of losing because you didn't know Westbrook was not playing? We give you the latest player intel </h5>
                
                    
                </div>
            </div>
          </div>

         
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="box2">
              
              
                <div class="info">
                    <h4 class="text-center">Hot List </h4>
                  
                    <h5 class="text-center"> Get a list of the hottest fantasy players the last 7 days
                      </h5>
                                   
                    
                </div>
            </div>
          </div>

          

       </div>
        </div>
        </div>

 <div class="row">
          <div class="col-md-12">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="box2">
              
                <div class="info">
                    <h4 class="text-center">Cold List</h4>
                   
                    <h5 class="text-center">We give you the list of people you can ruin your night </h5>
                
                    
                </div>
            </div>
          </div>

         
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="box2">
              
              
                <div class="info">
                    <h4 class="text-center">Custom Player News</h4>
                  
                    <h5 class="text-center"> Stay in the know on the players you care about. 

                                      </h5>
                                   
                    
                </div>
            </div>
          </div>

          

       </div>
        </div>
        </div>
     

