
<div class="col-md-6 col-md-offset-3">

    <ul class="timeline">

       <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-bell"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Reggie Jackson</h4>
              <p><small class="text-muted"> Jackson had a great game for pistons which is good to see since the Augustine trade. He had 25 points, 7 boards and 7 assists</small></p>
            </div>
            
          </div>

       <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-bell"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Brandon Bass</h4>
              <p><small class="text-muted"> Bass had a huge game, grabbing 17 boards, 19 points, while adding 5 assists for a total of 41 fantasy points</small></p>
            </div>
            
          </div>


       <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-bell"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Tony Parker</h4>
              <p><small class="text-muted"> Parker played one of his best games of the season Sunday, scoring a season-high 32 points (13-19 FG, 1-1 3Pt, 5-8 FT) to go with four rebounds and two assists in 30 minutes against Chicago.</small></p>
            </div>
            
          </div>

        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-bell"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Shaun Livingston</h4>
              <p><small class="text-muted"> Livingston recorded a season-high of 21 points (9-14 FG, 3-5 FT) during Sunday's win over the Clippers, to go along with eight rebounds, three assists and three steals in 28 minutes off the bench.</small></p>
            </div>
            
          </div>
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-bell"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Devin Harris</h4>
              <p><small class="text-muted"> Devin Harris (hand) is listed as questionable for Sunday's game vs. the Lakers.
            X-rays came back clean on Harris' hand, but there was still enough discomfort for him to sit out vs. the Warriors on Friday. Harris has been a big part of the rotation for Dallas in recent games, and his absence would mean more minutes for Rajon Rondo and J.J. Barea.</small></p>
            </div>
            
          </div>
        </li>
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-bell"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Jeremy Lin</h4>
            </div>
            <p><small class="text-muted">Jeremy Lin has been a new player since the All-Star break, averaging 15.5 points, 5.6 assists, 3.3 boards, 1.8 steals and 1.0 3-pointer over his last eight games.</small></p>
            
          </div>
        </li>
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-bell"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Rajon Rondo</h4>
            </div>
             <p><small class="text-muted">Jeremy Lin has been a new player since the All-Star break, averaging 15.5 points, 5.6 assists, 3.3 boards, 1.8 steals and 1.0 3-pointer over his last eight games.</small></p>
            
              
            </div>
          </div>
        </li>
        
</div>
