     <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-laptop"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Part-Time (DFS) Daily Fantasy Sports Analyst </h4>
                    <p>Fanalyst Co brings together all the best daily fantasy sports players. If you have ever played daily fantasy sports before, you know that it takes a ton of research, following players, dedication, intuition, and strategy to do well to win money and make a decent return.

                    <p>As people trust investors with their hard earned cash to invest in the stock market, we have created a platform that allows you to win big money in the sports market by using our lineups created each and every day by our fanalysts. Our fanalysts have years of experience playing fantasy sports. They have a proven history of beating the market day after day, as they have a passion and insight for sports that only few people in this world come to score. </p>

                   

                  <p> 

                  <ul>
                  <li>  -Create lineups for fantasy sports exchanges such as Fanduel, DraftKings, Victiv, etc </li>
                  <li>  -Upload statistical, factual, and research content and or methods used to construct lineups </li>
                  <li>  -Establish a following of paid clients: The more clients you bring in, the more money you make  </li>
                  <li>  -Promote and engage your Fanalyst Profile on social media enlighten all of your friends with your new found  <li>fantasy sports skills on FB, Instagram and other social media to make even more money.  </li>
                  </ul>

                
                    </p>
                    <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
              


      <div class="row">
        <div class="col-md-12">

         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
              
                <div class="info">
                    <h4 class="text-center">MVP</h4>
                    <h5 class="text-center">Rank 1-3</h5>
                    <p>Greatness flows from your fingertips. Your legendary lineups have the caliber to move mountains and part seas. </p>
                    <h5>$5 Daily Subsciptions</h5>
                </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
              
                <div class="info">
                    <h4 class="text-center">All Star</h4>
                    <h5 class="text-center">Rank 4-7</h5>
                    <p> Mad Respect, Boss. You run the fantasy world as one of the best in the game. </p>
                    <h5>$4 Daily Subscription</h5>
                </div>
            </div>
          </div>
          

          <div class="row">
          <div class="col-md-12">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
              
                <div class="info">
                    <h4 class="text-center">Starter</h4>
                    <h5 class="text-center">Rank 8-14</h5>
                    <p>You have cemented yourself as one of the elite. </p>
                    <h5>$3 Daily Subscription</h5>
                    
                </div>
            </div>
          </div>

         
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
              
              
                <div class="info">
                    <h4 class="text-center">Rookie</h4>
                     <h5 class="text-center">Rank 15-20</h5>
                    <p class="text-center"> You've got skills you're just unproven. You are the definition of untapped potential.  

                                      </p>
                   <h5>$2 Daily Subscription</h5>                    
                    
                </div>
            </div>
          </div>

          

       </div>
        </div>
        </div>


     

