

<div class="container">
<div class="jumbotron">



<h1> Daily Fantasy Basketball Strategy Lists</h1>
</br>


</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60459974-1', 'auto');
  ga('send', 'pageview');

</script>

  
    <div class="container" id="tourpackages-carousel">
      
      <div class="row">
      <h1>Today's Sleeper Picks</h1>
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/54l2NIi.png" alt="">
              <div class="caption">
                <h4>Marcus Morris</h4>
                <p>Morris filled the box score in Sunday's win over the Mavericks. In 36 minutes, he had 11 points (4-9 FG, 1-5 3Pt, 2-2 FT), 11 rebounds, seven assists and three steals. source: ESPN</p>
                
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/zie1VOm.png" alt="">
              <div class="caption">
                <h4>Thiago Splitter</h4>
                <p>Splitter posted 18 points, six rebounds, three assists, and two steals in 25 minutes of action Friday against the Celtics.</p>
                
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/AfUKPCl.png" alt="">
              <div class="caption">
                <h4>Tony Allen</h4>
                <p>Allen scored 10 points (4-6 FG, 1-1 3Pt, 1-2 FT) with 11 rebounds, one assist and six steals in 35 minutes Saturday.
</p>
               
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/12YC6Mk.png" alt="">
              <div class="caption">
                <h4>Lorenzo Brown</h4>
                <p>Normal starter Kevin Martin is dealing with a hamstring injury which will allow Brown to make his second-career start. He's in line to see added minutes Monday, and may see extended run down the stretch with a depleted Minnesota roster.</p>
                
            </div>
          </div>
        </div>

         <div class="container" id="tourpackages-carousel">
      
      <div class="row">
      <h1>Today's Hottest Players</h1>
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/54l2NIi.png" alt="">
              <div class="caption">
                <h4>Elfrid Payton</h4>
                <p>Payton posted his second consecutive triple-double Friday against the Blazers, contributing 22 points, 10 rebounds, 10 assists, and four steals in 37 minutes of action.</p>
                
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/zie1VOm.png" alt="">
              <div class="caption">
                <h4>Reggie Jackson</h4>
                <p>Jackson has been on fire lately.</p>
                
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/AfUKPCl.png" alt="">
              <div class="caption">
                <h4>Brook Lopez</h4>
                <p>Lopez scored 31 points (12-19 FG, 7-7 FT) to go along with four rebounds, one steal and two blocks in 35 minutes Monday against the Celtics.
</p>
               
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/12YC6Mk.png" alt="">
              <div class="caption">
                <h4>Evan Turner</h4>
                <p>Turner recorded a triple-double in 40 minutes Monday against the Nets as he scored 19 points (9-13 FG, 0-2 3Pt, 1-2 FT) to go along with 10 rebounds, 12 assists and one block.</p>
                
            </div>
          </div>
        </div>
        </div>

         <div class="container" id="tourpackages-carousel">
      
      <div class="row">
      <h1>Today's Worst Picks</h1>
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/54l2NIi.png" alt="">
              <div class="caption">
                <h4>Elfrid Payton</h4>
                <p>Payton posted his second consecutive triple-double Friday against the Blazers, contributing 22 points, 10 rebounds, 10 assists, and four steals in 37 minutes of action.</p>
                
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/zie1VOm.png" alt="">
              <div class="caption">
                <h4>Reggie Jackson</h4>
                <p>Jackson has been on fire lately.</p>
                
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/AfUKPCl.png" alt="">
              <div class="caption">
                <h4>Brook Lopez</h4>
                <p>Lopez scored 31 points (12-19 FG, 7-7 FT) to go along with four rebounds, one steal and two blocks in 35 minutes Monday against the Celtics.
</p>
               
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/12YC6Mk.png" alt="">
              <div class="caption">
                <h4>Evan Turner</h4>
                <p>Turner recorded a triple-double in 40 minutes Monday against the Nets as he scored 19 points (9-13 FG, 0-2 3Pt, 1-2 FT) to go along with 10 rebounds, 12 assists and one block.</p>
                
            </div>
          </div>
        </div>
        </div>

          <div class="container" id="tourpackages-carousel">
      
      <div class="row">
      <h1>Today's Snapoff Picks</h1>
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/VCwoLWh.png" alt="">
              <div class="caption">
                <h4>Russel Westbrook</h4>
                <p>RW playing Jeremy Lin and the rest of the Lakers. He will snap off for sure.source: Fantasy Gods</p>
                
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/iOLE48c.png" alt="">
              <div class="caption">
                <h4>DeMar DeRozan</h4>
                <p>Yo, this guy has been carrying the Raptors. 3 straight games with 35+ points with a slight possibility for him to snap off he is defintely worth the guap.</p>
                
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/nPSIHGR.png" alt="">
              <div class="caption">
                <h4>Tim Duncan</h4>
                <p>Duncan is a top pick consider that Ibaka, Aldridge are probable. What does probable even mean? Pick Duncan. Nuff Said.
</p>
               
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://i.imgur.com/AGetcqk.png" alt="">
              <div class="caption">
                <h4>DeMarcus Cousins </h4>
                <p>He's playing against the sixers. Hands down choose DeMarcus "Snapp Off" cousins.</p>
                
            </div>
          </div>
        </div>


        
        
      </div><!-- End row -->
      
    </div><!-- End container -->
