<!-- Hero Banner
================================================== -->
<div id="intro">
  <div class="item background-cover" style="background: url('<%= asset_path('frontend/bg3.png') %>')">
    <div class="container">
      <div class="row">
        <div class="carousel-caption-center colour-white">
          <h2>Playing is Easy.</h2>
          <h1>Winning is Hard.</h1>
          <p>Learn from and follow the best daily fantasy players</p>
          <p><%= link_to 'Learn More', pricing_path, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div>
  </div>
</div>



<!-- About Section
================================================== -->
<section id="about" class="content text-center light">

  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12 overlay-text">
        <h2>Think you know fantasy sports? Become a fanalyst and get paid to do what you love</h2>
        
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-group icon-large"></i>
        </div>
        <h3>Upload Team</h3>
        <p>Take a screenshot of your lineup</p>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-bar-chart icon-large"></i>
        </div>
        <h3>Gain Followers</h3>
        <p>Back your skills up with real stats</p>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-money icon-large"></i>
        </div>
        <h3>Earn Cash</h3>
        <p>Make real money sharing your daily fantasy insight</p>
      </div>
    </div><!-- /.row -->
  </div>

  <div class="overlay-bg light"></div>

</section>


<!-- Featured Sections
================================================== -->
<section id="featured1" class="dark with-bg">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 overlay-text">
        <div class="vertical-align">
          <h2>Follow the leader.</h2>
          <p>Fanalysts pool together breaking news, player updates, data-driven sports analysis, strategy, and intuition to create record breaking lineups each and everyday.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay-bg black"></div>

</section>






<!-- Call to Action
================================================== -->
<section class="cta text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>How do you stack up against the best?</h2>
        <p><%= link_to 'View Leaderboard', leaderboard_path, class: 'btn' %></p>
      </div>
    </div>



  </div>

</section>
