<div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
     </div> 
    

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container2">
        <h2>Welcome to Fanalyst.</h2>
        <p>Learn who and why to pick every night from the best daily fantasy players out there.</p>
        <p><a class="btn btn-danger" href="#" role="button">Learn from the best DFS fanalysts &raquo;</a></p>
      
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>1. Upload Team</h2>
         
          
        </div>
        <div class="col-md-4">
          <h2>2. Gain Traction</h2>
         
       </div>
        <div class="col-md-4">
          <h2>3. Earn Real $</h2>
          
        </div>
      </div>

      <div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://i.imgur.com/XrrrgqE.png" class="img-responsive" />
                    <span class="post-title"><b>Take screenshot</b><br />
                        </span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div>
                       If you think you have what it takes, start uploading your teams to prove your skills. Take a screen shot of the your teams before the games start and give insight on who and why you selected each team.
                    </div>
                    <div>
        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://i.imgur.com/toWOjSZ.png" class="img-responsive" />
                    <span class="post-title"><b>Build Following</b><br />
                        </span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div>
                        Build a following to start gaining daily subscribers by backing your skills up with real stats. 
                    </div>
                    <div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://i.imgur.com/hnbKA1o.png" class="img-responsive" />
                    <span class="post-title"><b>Earn Cash</b><br />
                       </span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div>
                       Make money by sharing your team and insight with fans daily. The better you score, the more you earn.
                    </div>
                    <div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
