<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="ha-bg-parallax text-center block-marginb-none" data-type="background" data-speed="20">

        
     </div> 


    

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container2">
        <h2>Welcome to Fanalyst.</h2>
        <p>Learn who and why to pick every night from the best daily fantasy players out there.</p>
        <p><a class="btn btn-primary" href="#" role="button">Learn from the best DFS fanalysts &raquo;</a></p>
      
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3>1. Upload Team</h3>
        <h1> <i class="fa fa-users fa-3x"></i><h1>

         
          
        </div>
        <div class="col-md-4">
          <h3>2. Gain Traction</h3>
           <h1> <i class="fa fa-bar-chart-o fa-3x"></i><h1>
         
       </div>
        <div class="col-md-4">
          <h3>3. Earn Cash</h3>
           <h1> <i class="fa fa-money fa-3x"></i><h1>
          
        </div>
      </div>

      
