

<!-- Hero Banner
================================================== -->
<div id="intro">
  <div class="item background-cover" style="background: url('<%= asset_path('frontend/bg3.png') %>')">
    <div class="container">
      <div class="row">
        <div class="carousel-caption-center colour-white">
          <h1>770-282-9016</h1>
          <h2>Your personal fantasy analyst in your pocket.</h1>
          <p>Gaining the best fantasy insight has never been more simple.</p>

    
          <p><%= link_to 'Text Us to Sign Up', leaderboard_path, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div>
  </div>
</div>



<!-- About Section
================================================== -->
<section id="about" class="content text-center light">

  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12 overlay-text">
        <h2> Recieve optimal lineups, player updates, player lists, and more through text. </h2>
        
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->



    <div class="row">
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-group icon-large"></i>
        </div>
        <h3>Pro</h3>
        <h2>5</h2><p>per month</p>
        <ul>
        <li>Receive Optimal lineup each gameday </li>
        <li>Daily Sleeper List</li>
       
        </ul>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-lightbulb-o icon-large"></i>
        </div>
        <h3>MVP</h3>
        <h2>10</h2><p>per month</p>
        <ul>
        <li>Recieve Optimal lineup each gameday </li>
        <li>Daily Sleeper List</li>
        <li>Last Minute Scratches</li>
        <li>Hot List</li>
        <li>Cold List</li>
        </ul>
      </div>
      <div class="col-sm-4  overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-money icon-large"></i>
        </div>
        <h3>All-star</h3>
        <h2>20</h2><p>per month</p>
        <ul>
        <li>Recieve Optimal lineup each gameday </li>
        <li>Daily Sleeper List</li>
        <li>Last Minute Scratches</li>
        <li>Hot List</li>
        <li>Cold List</li>
        <li>Custom Player News</li>
        <li>Live Help</li>
        </ul>
      </div>
    </div><!-- /.row -->
  </div>

  <div class="overlay-bg light"></div>

</section>

<div class="container">
    <div class="row">
     <img src="http://i.imgur.com/Sf9Q7OO.png" alt="Daily Fantasy Lineups" style="width:360px;height:680px;padding-right:10px;margin-left:20px;padding-bottom:10px;">
     <img src="http://i.imgur.com/IM0RDWc.png" alt="Daily Fantasy Lineups" style="width:380px;height:680px;padding-right:30px;margin-left:30px;padding-bottom:10px;">
     <img src="http://i.imgur.com/fiQOJjJ.png" alt="Daily Fantasy Lineups" style="width:350px;height:680px;margin-left:20px;padding-bottom:10px;">

     </div>
     </div>


<!-- Featured Sections
================================================== -->
<section id="featured1" class="dark with-bg">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 overlay-text">
        <div class="vertical-align">
          <h2>Don't waste your time scouring through 5 different websites</h2>
          <p>Get your knowledge delvered daily to your phone.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay-bg black"></div>

</section>






<!-- Call to Action
================================================== -->
<section class="cta text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>Have Questions about Fanalyst?</h2>
        <p><%= link_to 'Just Text Us', leaderboard_path, class: 'btn' %></p>
         <h1>770-282-9016</h1>
      </div>
    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60459974-1', 'auto');
  ga('send', 'pageview');

</script>

  </div>

</section>

<a href="https://plus.google.com/100382413597746238344" rel="publisher"></a>
