<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    



        
      





 <!-- Main jumbotron for a primary marketing message or call to action -->
  
      <div class="container2">
        <h1>Welcome to Fanalyst</h1>
        <h4>Learn who and why to pick every night from the best daily fantasy players.</h4>
        <p><a class="btn btn-primary" href="#" role="button">Learn from the best DFS fanalysts &raquo;</a></p>
      
  
  


      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h4>1. Upload Team</h4>
        <h1> <i class="fa fa-users fa-3x"></i><h1>

         
          
        </div>
        <div class="col-md-4">
          <h4>2. Gain Followers</h3>
           <h1> <i class="fa fa-bar-chart-o fa-3x"></i><h4>
         
       </div>
        <div class="col-md-4">
          <h4>3. Earn Cash</h4>
           <h1> <i class="fa fa-money fa-3x"></i><h1>
          
       
      </div>
      


      
