<div class="row">
  <div class="row">
    <div class="col-md-9">
      <h3>
        Lineup History</h3>
    </div>
    <div class="col-md-3">
      <!-- Controls -->
      <div class="controls pull-right hidden-xs">
        <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic"
           data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic"
                                    data-slide="next"></a>
      </div>
    </div>
  </div>
  <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @result_views.each_with_index do |sub_set, index| -%>
      <div class="item <%= 'active' if index == 0 %>">
        <div class="row">
          <% sub_set.each do |result| -%>
          <div class="col-sm-4">
            <div class="col-item">
              <div class="photo">
                <%= image_tag result.image(:medium), class: "img-responsive" %>
              </div>
              <div class="info">
                <div class="row">
                  <div class="price col-md-6">
                    <h5>
                      <%= result.score.round(1) %></h5>
                    <h5 class="price-text-color">
                      <%= result.notes %></h5>
                  </div>
                  
                </div>
                
                <div class="clearfix">
                </div>
              </div>
            </div>
          </div>
          <% end -%>
        </div>
      </div>
      <% end -%>
    </div>
  </div>
</div>
