<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for [:admin, @constant_value]  do |f| %>
      <%= f.input :fan_duel_median_score %>
      
      
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
