body {
  /*css for full size background image*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
}

.ha-bg-parallax .ha-parallax-body {
  display: table-cell;
  vertical-align: middle;
}

.ha-bg-parallax .ha-content-whitecolor {
  font-size: 17px;
  color: #ffffff;
  width: 70%;
  margin: auto;
}

.ha-bg-parallax .ha-diamond-divider-md {
  margin: 15px 0px;
}

.ha-bg-parallax .ha-heading-parallax {
  font-style: italic;
  font-weight: bold;
  text-transform: none;
  color: #ffffff;
  padding-bottom: 0px;
}
