// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary {
    background: #999 !important;
    color: #ffffff;
    border: none !important;
}
 

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 

 .btn-success{
    background: #253993 !important;
    color: #ffffff;
    border: none !important;
}


body { padding-top:30px; }
.form-control { margin-bottom: 10px; }
