// Place all the styles related to the Teams controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container2 {
  margin-top: 95px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffff;
  
  opacity:1.0;
}

.container3 {
  margin-top: 79px;
}

.panel-default2 {
  
  margin-top: 80px;
}

td {
  font-size: 180%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:      #FAF5E6;
}
